* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3,
p {
  font-family: "Gothic A1", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}

svg :hover {
  fill: rgb(167, 221, 231);
  cursor: pointer;
  stroke-width: 0.2rem;
  transition: 0.75s;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  background: #ffffff;
  color: rgb(20, 64, 146);
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: 4px 4px 3px 3px rgb(202, 208, 211);
}
nav {
  min-height: 10vh;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: rgb(20, 64, 146);
  font-weight: bold;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
#logo:hover {
  color: rgb(243, 255, 255);
  text-shadow: 0 0 10px rgb(164, 191, 241), 0 0 20px rgb(164, 191, 241),
    0 0 40px rgb(164, 191, 241), 0 0 80px rgb(164, 191, 241),
    0 0 120px rgb(164, 191, 241), 0 0 160px rgb(164, 191, 241);
}

.busanGijang,
.busanGeumjeong,
.busanDongnae,
.busanHaeundae,
.busanSuyeong,
.busanNamgu,
.busanYeonje,
.busanJingu,
.busanDonggu,
.busanYeongdo,
.busanJunggu,
.busanSeogu,
.busanSaha,
.busanSasang,
.busanBuk,
.busanGanseo {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}
.busanGeumjeong.active,
.busanGijang.active,
.busanDongnae.active,
.busanHaeundae.active,
.busanSuyeong.active,
.busanNamgu.active,
.busanYeonje.active,
.busanJingu.active,
.busanDonggu.active,
.busanYeongdo.active,
.busanJunggu.active,
.busanSeogu.active,
.busanSaha.active,
.busanSasang.active,
.busanBuk.active,
.busanGanseo.active {
  opacity: 1;
  pointer-events: all;
  transition: ease-in 0.2s;
  transform: scale(1.2);
}
.Geumjeongclose,
.Gijangclose,
.Dongnaeclose,
.Haeundaeclose,
.Suyeongclose,
.Namguclose,
.Yeonjeclose,
.Jinguclose,
.Dongguclose,
.Yeongdoclose,
.Jungguclose,
.Seoguclose,
.Sahaclose,
.Sasangclose,
.Bukclose,
.Ganseoclose {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  padding: 4px;
  border-radius: 30px;
  background-color: rgb(103, 164, 243);
  color: white;
  cursor: pointer;
}

.weather {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 70px;
  background: rgb(167, 221, 231);
  color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  width: 230px;
}

.weather.active {
  visibility: visible;
  transition: 0.8s;
  opacity: 1;
}

.weather .desc {
  font-size: 20px;
  color: rgb(114, 81, 98);
}

.dragMove {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(20, 64, 146);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  padding: 2rem;
  width: 200px;
  height: 10px;
  cursor: pointer;
  user-select: none;
  border: solid 4px rgb(20, 64, 146);
}
.dragMove.active {
  cursor: pointer;
  border-radius: 20px 20px 0px 0px;
  transition: 0.15s ease;
  opacity: 1;
  width: 230px;
  font-size: 0px;
  border: solid 4px rgb(200, 225, 245);
}
.burger {
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  top: 5px;
  right: 5px;
}

.burger::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background: rgb(20, 64, 146);
  transition: 0.1s;
  transform: translateY(-5px) rotate(90deg);
}
.burger.active {
  top: -2px;
  right: -65px;
}
.burger.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 rgb(170, 14, 14);
  background: rgb(165, 1, 1);
}
.burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background: rgb(20, 64, 146);
  transition: 0.1s;
  transform: translateY(-5px);
}
.burger.active::after {
  transform: translateY(0px) rotate(-45deg);
  background: rgb(165, 1, 1);
}

footer {
  background-color: rgb(133, 127, 127);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
  position: absolute;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}
i {
  position: absolute;
  top: -20px;
  animation: fall 10s linear forwards;
  color: rgb(240, 167, 218);
}

@keyframes fall {
  from {
    transfrom: translateX(-160px);
  }

  to {
    transform: translateY(98vh) rotate(560deg) translateX(60px);
  }
}

@keyframes up {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
}
