* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3,
p {
  font-family: "Gothic A1", sans-serif;
}
body {
  background-color: rgb(239, 253, 255);
  font-family: "Montserrat", sans-serif;
}
svg :hover {
  fill: rgb(167, 221, 231);
  cursor: pointer;
  stroke-width: 0.2rem;
  transition: 0.75s;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  background: #ffffff;
  color: rgb(20, 64, 146);
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 80%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: rgb(20, 64, 146);
  font-weight: bold;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.busanGijang,
.busanGeumjeong,
.busanDongnae,
.busanHaeundae,
.busanSuyeong,
.busanNamgu,
.busanYeonje,
.busanJingu,
.busanDonggu,
.busanYeongdo,
.busanJunggu,
.busanSeogu,
.busanSaha,
.busanSasang,
.busanBuk,
.busanGanseo {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}
.busanGeumjeong.active,
.busanGijang.active,
.busanDongnae.active,
.busanHaeundae.active,
.busanSuyeong.active,
.busanNamgu.active,
.busanYeonje.active,
.busanJingu.active,
.busanDonggu.active,
.busanYeongdo.active,
.busanJunggu.active,
.busanSeogu.active,
.busanSaha.active,
.busanSasang.active,
.busanBuk.active,
.busanGanseo.active {
  opacity: 1;
  pointer-events: all;
  transition: ease-in 0.2s;
  transform: scale(1.2);
}
.Geumjeongclose,
.Gijangclose,
.Dongnaeclose,
.Haeundaeclose,
.Suyeongclose,
.Namguclose,
.Yeonjeclose,
.Jinguclose,
.Dongguclose,
.Yeongdoclose,
.Jungguclose,
.Seoguclose,
.Sahaclose,
.Sasangclose,
.Bukclose,
.Ganseoclose {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  padding: 4px;
  border-radius: 30px;
  background-color: rgb(103, 164, 243);
  color: white;
  cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(167, 221, 231);
  color: white;
  border-radius: 20px;
  padding: 2rem;
}

.weather .desc {
  font-size: 20px;
  color: rgb(114, 81, 98);
}

i {
  position: absolute;
  top: -20px;
  animation: fall 10s linear forwards;
  color: rgb(240, 167, 218);
}

@keyframes fall {
  from {
    transfrom: translateX(-160px);
  }

  to {
    transform: translateY(98vh) rotate(560deg) translateX(60px);
  }
}

@keyframes up {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
}
