* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div :hover {
  fill: rgb(21, 154, 243);
  cursor: pointer;
  stroke-width: 0.2rem;
  transition: 0.75s;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  background: #f8f9fb;
  color: rgb(20, 64, 146);
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

i {
  position: absolute;
  top: -20px;
  animation: fall 10s linear forwards;
  color: rgb(240, 167, 218);
}

@keyframes fall {
  from {
    transfrom: translateX(-160px);
  }

  to {
    transform: translateY(98vh) rotate(560deg) translateX(60px);
  }
}
